<launch>

  <include file="$(find outdoor_bot)/launch/includes/serialComm/serialComm_outdoor.launch"/>
  <include file="$(find outdoor_bot)/launch/includes/robotPose/robotPose_outdoor.launch"/>

  <include file="$(find outdoor_bot)/launch/includes/robotPose/robot_pose_ekf.launch"/>

  <include file="$(find outdoor_bot)/launch/includes/hokuyo_outdoor.launch"/>
  <include file="$(find outdoor_bot)/vision/launch/uvc_cam.launch"/>

  <include file="$(find outdoor_bot)/launch/includes/robot_state_publisher_outdoor.launch"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find outdoor_bot)/maps/blank_map.yaml">
     <param name="frame_id" value="map"/>
  </node>

  <include file="$(find outdoor_bot)/launch/includes/amcl_hokuyo.launch"/>

  <node pkg="outdoor_bot" type="commandsController_node" name="commandsController_node" output= "screen">
  </node>

  <node pkg="outdoor_bot" type="baseController_node" name="baseController_node" args = "outdoor" output= "screen">
 </node>
 
  <include file="$(find outdoor_bot)/launch/includes/move_base_outdoor.launch"/>

  <node pkg="outdoor_bot" type="sensors_node" name="sensors_node" output="screen" />

</launch>
