<!-- 

This launch file shows how to start a hokuyo node. 

You may have to change the port parameter if your laser is not at
/dev/ttyACM0.

If you have rviz built, you can uncomment the rviz node to visualize the
laser data.

Otherwise, you can use rostopic to see the data:
rostopic echo /scan

-->

<launch>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
  
    <!-- when true, the driver starts up slower, but timestamps are more accurate. --> 
    <param name="calibrate_time" type="bool" value="true"/> 
    
    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/ttyhokuyo"/> 
  
    <param name="intensity" type="bool" value="false"/>

    <param name="frame_id" type="string" value="hokuyo_link" />
    <param name="frameid" type="string" value="hokuyo_link" />
  </node>
  
</launch>
